@import "./animations.scss";

body {
  background-image: url('../../public/bg.jpg') !important;
  background-position: center !important;
  background-size: cover !important;

  font-family: 'Ubuntu', sans-serif !important;

  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
}

a.underline { text-decoration: underline !important; }

.slick-dots {
  li > button::before {
    color: white !important;
    font-size: 8px !important;
    height: 20px !important;
    width: 20px !important;
  }

  li.slick-active > button::before {
    font-size: 16px !important;
    color: #0F0 !important;
  }
}

.slick-track {
  display: flex;
  vertical-align: middle;
  .slick-slide {
    height: 100%;
  }
}

.slick-prev, .slick-next {
  height: 36px !important;
  width: 36px !important;
  transition: all .2s ease;
  z-index: 20;
}
.slick-prev:hover { transform: translate(-4px,-50%) !important; }
.slick-next:hover { transform: translate(4px,-50%) !important; }
.slick-prev:before, .slick-next:before {
  color: #0F0 !important;
  font-size: 36px !important;
}

.player .video-react-control-bar { display: none !important; }

.mobileOnly, .mobileonly, .mobile-only { display: none !important; }

.chakra-modal__content {
  background: transparent !important;
}

.hoverpop, .hoverPop {
  transition: all .5 ease;
  &:hover { transform: scale(1.05); }
}

.cursoralias, .cursorAlias { cursor: alias !important; }

.chakra-modal__close-btn {
  transition: all .5s ease !important;
  &:hover {
    transform: rotate(-360deg) !important;
  }
}

footer a {
  text-decoration: underline;
}

@media screen and (max-width:800px) {
  .noMobile, .nomobile, .no-mobile { display: none !important; }
  .mobileOnly, .mobileonly, .mobile-only { display: initial !important; }
}

.hidden { display: none !important; }
.nopacity { opacity: 0 !important; }