@import "./animations.scss";

body {
  background-image: url('../../public/bg.jpg') !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;

  font-family: 'Ubuntu', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}

a.underline { text-decoration: underline !important; }

.slick-dots {
  li > button::before {
    color: white !important;
  }
}

.slick-track {
  display: flex;
  vertical-align: middle;
  .slick-slide {
    height: 100%;
  }
}

.player .video-react-control-bar { display: none !important; }

.mobileOnly, .mobileonly, .mobile-only { display: none !important; }

.chakra-modal__content {
  background: transparent !important;
}

@media screen and (max-width:800px) {
  .noMobile, .nomobile, .no-mobile { display: none !important; }
  .mobileOnly, .mobileonly, .mobile-only { display: initial !important; }
}

.hidden { display: none !important; }
.nopacity { opacity: 0 !important; }