body {
  background-image: url('../../public/bg.jpg') !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

a.underline { text-decoration: underline !important;}

.mobileOny, .mobileonly, .mobile-only { display: none !important; }

@media screen and (max-width:800px) {
  .noMobile, .nomobile, .no-mobile { display: none !important; }
  .mobileOny, .mobileonly, .mobile-only { display: initial !important; }
}